*{
	margin: 0;
	padding: 0;
}
.Box{
	height: 100vh;
	background-image: url(../CITY-OSA-2.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
}
.Inner_Box{
	max-width: 650px;
	position: relative;
	display: block;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: rgba(255,255,255,.4);
	box-shadow: 0 15px 20px rgba(0,0,0,.2);
	padding: 30px;
	text-align: center;
	letter-spacing: 2px;
}
